string_example: /home/USERNAME/workspace/blubb       # Example for a comment
character: z
number_int: 12
number_float: 4234.234234
number_bool: 1
word_bool: true
character_array: [a, b, c, d, e, f, g]
number_int_array: [3425,121,999999, 5555, 1234]
number_float_array: [2.234,3234.21314234,4.5]
string_array: {Hello, World, !}
